<div class="page-header">
  <h1>
    Level 1 Problems
    <small>Candy! (Lindt Truffles, Blowpops)</small>
  </h1>
</div>

<h2>Sample Problem</h2>
<div class="bs-docs-example">
  This is a sample description
</div>
<pre class="prettyprint linenums">
class Voila {
  public:
    // Voila
    static const string VOILA = "Voila";

    // will not interfere with embedded tags.
}
</pre>
<a href="/submit?p=1-1" data-toggle="modal" data-target="#myModal" class="btn btn-primary">
  <i class="icon-thumbs-up icon-white"></i> Submit Solution
</a>

<hr />

