 <!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# question: http://ogp.me/ns/question#">
    <meta property="fb:app_id" content="500632546631459" /> 
    <meta property="og:type"   content="question" /> 
    <meta property="og:url"    content="http://foodhack.herokuapp.com/question?q=<%= q %>" /> 
    <meta property="og:title"  content="Question <%= q %>" />
    <meta property="og:image"  content="https://foodhack.herokuapp.com/images/og.png" />
  </head>
  <body>
    This is a question! Go to <a href="http://foodhack.herokuapp.com">foodhack.herokuapp.com</a> to win!
  </body>
</html>
