 <!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# question: http://ogp.me/ns/question#">
    <meta property="fb:app_id" content="500632546631459" /> 
    <meta property="og:type"   content="question" /> 
    <meta property="og:url"    content="http://foodhack.herokuapp.com" /> 
    <meta property="og:title"  content="Question <%= p %>" /> 
    <meta property="og:image"  content="https://foodhack.herokuapp.com/images/og.png" />
  </head>
  <body>
    <script type="text/javascript">
      window.location = "http://foodhack.herokuapp.com";
    </script>
  </body>
</html>
